
$font-color-primary: #000 !important;
$font-color-secondary: #000;

$background-white: #ffffff !important;
$background-color-bold: #06B1D2 !important;
$background-color-secondary: #fff;

$button-color: #00CFEA !important;
$font-color-button: #000;