
$font-color-primary: #000 !important;
$font-color-secondary: #fff;

$background-white: #ffffff !important;
$background-color-bold: #5A6D8B !important;
$background-color-secondary: #fff;

$button-color: #000 !important;
$font-color-button: #fff;