
$font-color-primary: #000 !important;
$font-color-secondary: #fff;

$background-white: #ffffff !important;
$background-color-bold: #538D98 !important;
$background-color-secondary: #fff;

$button-color: #00CFEA !important;
$font-color-button: #fff;