@import '_mixins';

body {
    background-color: #fff;
}

.card {
    .card-content {
        padding: 10px;
    }
    .card-action {
        padding: 10px;
    }
}

.text-primary {
    color: $font-color-primary;
}

span .new-comments-badges {
    padding: 5px;
}

.text-secondary {
    color: $background-color-bold;
}

.background-primary {
    background-color: $background-color-bold;
}

.videoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#user-panel-button {
    padding-right: 10px;
}

.indicator {
    background-color: $background-color-bold;
}

#right-navbar {
    margin-right: 10px;
}

.btn {
    background-color: $button-color;
    color: $font-color-button;
}

.input-field {
    label {
        color: $background-color-bold;
    }
    .prefix.active {
        color: $font-color-primary;
    }
}

.slide-out-search-form {
    left: 0;
    padding: 0px;
}

input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid $button-color;
    box-shadow: 0 1px 0 0 $button-color;
}

nav.submenu-tabs {
    top: -12px;
    height: 40px;
}

a {
    color: #0D47A1;
}

.likeButton, .likeButton:focus {
    background-color: transparent;
    border: none;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: $button-color;
    &:after {
        background-color: $background-color-bold;

    }
}

//gif that plays while videos are loading
video.loading {
    background: white url("/images/loading.gif") center center no-repeat;
}
video.loaded {
    background: white url("/images/play.gif") center center no-repeat;
}
