@import '_mixins';

body {
    background-color: #fff;
}

.card {
    .card-content {
        padding: 10px;
    }
    .card-action {
        padding: 10px;
    }
}

.text-primary {
    color: $font-color-primary;
}

span .new-comments-badges {
    padding: 5px;
}

.text-secondary {
    color: $background-color-primary;
}

.background-primary {
    background-color: $background-color-primary;
}

.videoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#user-panel-button {
    padding-right: 10px;
}

.indicator {
    background-color: $background-color-primary;
}

#right-navbar {
    margin-right: 10px;
}

.btn {
    background-color: $button-color;
    color: $background-color-primary;
}

.input-field label {
    color: $background-color-primary;
}

nav.submenu-tabs {
    top: -12px;
    height: 40px;
}

a {
    color: #0D47A1;
}

video.loading {
    background: white url("/images/loading.gif") center center no-repeat;
}

video.loaded {
    background: white url("/images/play.gif") center center no-repeat;
}