<template name="aboutus">

    <div class="flow-text">
        <h1>About Us</h1>

        <h2 id="privacy">This is our privacy policy!</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt vel risus vel commodo. Proin vel
            vehicula mauris, ut finibus magna. Pellentesque justo tortor, tempus ac lacus non, cursus interdum elit.
            Quisque quam velit, luctus sed aliquet nec, cursus in sem. Quisque ac eros non tellus viverra sagittis vitae
            quis quam. Vestibulum rhoncus, magna a condimentum feugiat, purus sapien aliquam nulla, quis gravida nulla
            nibh varius leo. Ut placerat velit luctus ligula condimentum commodo. Cras dapibus tristique metus. Nam
            ultricies et risus non vestibulum. Nam blandit ut leo eu suscipit. Sed iaculis tortor sed mauris imperdiet
            porttitor.</p>

        <p>Suspendisse quis augue tempor, lacinia felis porta, congue felis. Aliquam et massa sit amet tortor imperdiet
            faucibus sit amet quis nisi. Phasellus varius, magna ornare placerat tincidunt, lectus augue viverra ligula,
            sed iaculis nisl nisi et massa. Maecenas tempus fermentum tincidunt. Nullam dapibus eros vel justo
            pellentesque, non molestie sem pulvinar. Praesent sit amet posuere nisi, pharetra semper ipsum. Sed maximus
            dolor sit amet felis hendrerit tempus.</p>

        <p>Quisque augue orci, consectetur eget justo et, congue porta elit. Maecenas feugiat, erat at laoreet
            fermentum, purus quam tempus odio, a elementum arcu tellus at urna. In id turpis id odio cursus vehicula.
            Aenean interdum consectetur felis, non pretium libero aliquam in. Mauris at augue sapien. Curabitur in
            congue neque. Aenean convallis lobortis metus nec dictum. Donec pharetra, odio id cursus molestie, ligula
            massa convallis neque, eu dignissim tellus ipsum sed tellus. Pellentesque in elementum arcu, suscipit
            condimentum eros. Suspendisse in mauris nunc. Nunc blandit vehicula leo id sollicitudin. Nam bibendum orci
            sed velit eleifend placerat. Maecenas cursus eleifend sem, at congue purus hendrerit at. Ut hendrerit
            consequat scelerisque.</p>

        <p>Nulla tincidunt pretium viverra. Integer auctor id felis a porttitor. Suspendisse pharetra vulputate felis
            non pellentesque. Morbi nec malesuada leo, at consectetur tellus. In dapibus a urna vitae placerat.
            Pellentesque vehicula risus eros. Etiam ex nulla, accumsan sed lacinia porta, pellentesque nec est. Donec
            ornare ipsum non sollicitudin elementum. Suspendisse potenti. Pellentesque eget ornare leo. Aliquam erat
            volutpat. Mauris egestas imperdiet efficitur. Suspendisse potenti. Vivamus non ultricies quam. Donec dapibus
            varius vulputate. Proin sollicitudin mollis nunc ut facilisis.</p>

        <br>
        <br>

        <h2 id="terms-of-use">These are our terms of use!</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt vel risus vel commodo. Proin vel
            vehicula mauris, ut finibus magna. Pellentesque justo tortor, tempus ac lacus non, cursus interdum elit.
            Quisque quam velit, luctus sed aliquet nec, cursus in sem. Quisque ac eros non tellus viverra sagittis vitae
            quis quam. Vestibulum rhoncus, magna a condimentum feugiat, purus sapien aliquam nulla, quis gravida nulla
            nibh varius leo. Ut placerat velit luctus ligula condimentum commodo. Cras dapibus tristique metus. Nam
            ultricies et risus non vestibulum. Nam blandit ut leo eu suscipit. Sed iaculis tortor sed mauris imperdiet
            porttitor.</p>

        <p>Suspendisse quis augue tempor, lacinia felis porta, congue felis. Aliquam et massa sit amet tortor imperdiet
            faucibus sit amet quis nisi. Phasellus varius, magna ornare placerat tincidunt, lectus augue viverra ligula,
            sed iaculis nisl nisi et massa. Maecenas tempus fermentum tincidunt. Nullam dapibus eros vel justo
            pellentesque, non molestie sem pulvinar. Praesent sit amet posuere nisi, pharetra semper ipsum. Sed maximus
            dolor sit amet felis hendrerit tempus.</p>

        <p>Nulla tincidunt pretium viverra. Integer auctor id felis a porttitor. Suspendisse pharetra vulputate felis
            non pellentesque. Morbi nec malesuada leo, at consectetur tellus. In dapibus a urna vitae placerat.
            Pellentesque vehicula risus eros. Etiam ex nulla, accumsan sed lacinia porta, pellentesque nec est. Donec
            ornare ipsum non sollicitudin elementum. Suspendisse potenti. Pellentesque eget ornare leo. Aliquam erat
            volutpat. Mauris egestas imperdiet efficitur. Suspendisse potenti. Vivamus non ultricies quam. Donec dapibus
            varius vulputate. Proin sollicitudin mollis nunc ut facilisis.</p>
        <br>
        <br>

        <p>Here's some other information or whatever.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt vel risus vel commodo. Proin vel
            vehicula mauris, ut finibus magna. Pellentesque justo tortor, tempus ac lacus non, cursus interdum elit.
            Quisque quam velit, luctus sed aliquet nec, cursus in sem. Quisque ac eros non tellus viverra sagittis vitae
            quis quam. Vestibulum rhoncus, magna a condimentum feugiat, purus sapien aliquam nulla, quis gravida nulla
            nibh varius leo. Ut placerat velit luctus ligula condimentum commodo. Cras dapibus tristique metus. Nam
            ultricies et risus non vestibulum. Nam blandit ut leo eu suscipit. Sed iaculis tortor sed mauris imperdiet
            porttitor.</p>

        <p>Suspendisse quis augue tempor, lacinia felis porta, congue felis. Aliquam et massa sit amet tortor imperdiet
            faucibus sit amet quis nisi. Phasellus varius, magna ornare placerat tincidunt, lectus augue viverra ligula,
            sed iaculis nisl nisi et massa. Maecenas tempus fermentum tincidunt. Nullam dapibus eros vel justo
            pellentesque, non molestie sem pulvinar. Praesent sit amet posuere nisi, pharetra semper ipsum. Sed maximus
            dolor sit amet felis hendrerit tempus.</p>

        <p>Quisque augue orci, consectetur eget justo et, congue porta elit. Maecenas feugiat, erat at laoreet
            fermentum, purus quam tempus odio, a elementum arcu tellus at urna. In id turpis id odio cursus vehicula.
            Aenean interdum consectetur felis, non pretium libero aliquam in. Mauris at augue sapien. Curabitur in
            congue neque. Aenean convallis lobortis metus nec dictum. Donec pharetra, odio id cursus molestie, ligula
            massa convallis neque, eu dignissim tellus ipsum sed tellus. Pellentesque in elementum arcu, suscipit
            condimentum eros. Suspendisse in mauris nunc. Nunc blandit vehicula leo id sollicitudin. Nam bibendum orci
            sed velit eleifend placerat. Maecenas cursus eleifend sem, at congue purus hendrerit at. Ut hendrerit
            consequat scelerisque.</p>

    </div>
</template>