<template name="legal">

    <div class="flow-text">

        <h2>18 U.S.C. 2257 - Record Keeping Requirements Compliance Statement</h2>

        <h3>From DaddyIssues.io</h3>

        <p>This service is an interactive computer service as defined under 47 U.S.C. § 230(f), as well as an Internet
            access service as defined under 47 U.S.C. § 231(e), that is statutorily exempt from being considered a
            producer under 18 U.S.C. § 2257(h)(2)(B).</p>

        <h3>Section 2257 Exemption Statement</h3>

        <p>Content Produced by Third Parties: The operators of DI are not the “producers” of any depictions of any
            actual or simulated sexually explicit conduct. To the extent that any such content appears on this site, the
            operators’ involvement with respect there to is limited to the transmission, storage, retrieval, hosting
            and/or formatting of depictions posted by third party users, on areas of the website under the users’
            control. Pursuant to Title 18 U.S.C. 2257(h)(2)(B)(v) and 47 U.S.C. 230(c), the operators of this website
            reserve the right to delete content posted by users which operators deem to be indecent, obscene, defamatory
            or inconsistent with their policies and terms of service. Questions or comments regarding this Exemption
            Statement should be addressed to our staff.</p>

        <p>http://www.daddyissues.com/contact</p>

        <h3>How to block access to our website</h3>

        <p>We believe that our website should be accessible only to responsible and consenting adults. Therefore, we
            give users the tools to restrict access to our website should they find that necessary. We label
            daddyissues.com using available labeling standard to represent ourselves as an adult website for mature
            audiences only. This means that any filtering software (http://www.google.com/search?q=filtering+software)
            should easily block access to our website if it is installed and activated on your computer. You may even Contact Support and ask us to ban your IP or username from ever returning to this
            website and we would be happy to help.</p>

        <h3>Contacting us</h3>

        <p>We are extremely easy to reach. Please visit the Contact Support page.</p>
    </div>
</template>