<template name="userControlModal">
    <div id="user-account-modal" class="modal background-primary">
        <div class="modal-content white">
            {{#if currentUser}}
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs white" id="user-navbar">
                            <li class="tab col s3"><a class="text-secondary active" href="#userProfileLink">Profile</a>
                            </li>
                            <li class="tab col s3"><a class="text-secondary" href="#userFriendLink">Friends</a></li>
                            <li class="tab col s3"><a class="text-secondary" href="#userVideosLink">Videos</a></li>
                            <li class="tab col s3"><a class="text-secondary" href="#userSubmitVideoLink">New Video</a>
                            </li>
                        </ul>
                    </div>
                    <div id="userProfileLink" class="col s12">{{> userProfile}}</div>
                    <div id="userFriendLink" class="col s12">{{> userFriends}}</div>
                    <div id="userVideosLink" class="col s12">{{> userVideos}}</div>
                    <div id="userSubmitVideoLink" class="col s12">{{> submitNewVideo}}</div>
                </div>
            {{else}}
                {{> atForm}}
            {{/if}}
        </div>
        {{#if currentUser}}
            <div class="modal-footer background-primary">
                {{> atNavButton}}
            </div>
        {{/if}}
    </div>
</template>

<template name="newCommentModal">
    <div id="newCommentModal" class="modal">
        <div class="modal-content white row">
            <h4 class="center text-primary">Leave a Comment!</h4>
            <form class="col s12 submit-video-comment">
                <input type="hidden" id="videoid" value="{{_id}}"/>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">speaker_notes</i>
                        <input id="content" type="text" length="400" class="validate" autofocus required/>
                        <label for="content">Comment:</label>
                    </div>
                </div>
                <div class="input-field col s12 right">
                    <button class="right background-primary waves-effect waves-light btn" type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</template>