<template name="userControlModal">
    <div id="user-account-modal" class="modal indigo lighten-5">
        <div class="modal-content white">
            {{#if currentUser}}
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs white">
                            <li class="tab col s3"><a class="cyan-text active" href="#userProfileLink">My Profile</a></li>
                            <li class="tab col s3"><a class="cyan-text" href="#userFriendLink">Friends</a></li>
                            <li class="tab col s3"><a class="cyan-text" href="#userVideosLink">My Videos</a></li>
                            <li class="tab col s3"><a class="cyan-text" href="#userSubmitVideoLink">Submit Video</a></li>
                        </ul>
                    </div>
                    <div id="userProfileLink" class="col s12">{{> userProfile}}</div>
                    <div id="userFriendLink" class="col s12">{{> userFriends}}</div>
                    <div id="userVideosLink" class="col s12">{{> userVideos}}</div>
                    <div id="userSubmitVideoLink" class="col s12">{{> submitNewVideo}}</div>
                </div>
            {{else}}
                {{> atForm}}
            {{/if}}
        </div>
        {{#if currentUser}}
            <div class="modal-footer cyan darken-2">
                {{> atNavButton}}
            </div>
        {{/if}}
    </div>
</template>

<template name="videoModal">
    <div id="videoSingleModal" class="modal">
        <div class="modal-content row">
            <div class="col s12">
                <video id="{{id}}" class="video-js vjs-default-skin"
                       controls preload="metadata" height="100%" width="100%">
                    <source src="{{path}}"/>
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web
                        browser
                        that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div class="col s12">
                <p>COMMENTS</p>
                <ul>
                    <li>this is a comment</li>
                    <li>this is another comment</li>
                    <li>yet another comment</li>
                    <li>this is a comment</li>
                    <li>this is another comment</li>
                    <li>yet another comment</li>
                    <li>this is a comment</li>
                    <li>this is another comment</li>
                    <li>yet another comment</li>
                </ul>
            </div>
        </div>

        <div class="modal-footer cyan darken-2">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</template>