<template name="navbar">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper cyan">
                <a href="#" class="brand-logo center">project social video</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    {{>searchForm}}
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">About Us</a></li>
                    <li><a href="badges.html">Legal</a></li>
                    <a id="user-panel-button" href="#user-account-modal" class="waves-effect waves-light btn">
                        {{#if currentUser}} My Account
                        {{else}}
                            Sign In
                        {{/if}}
                    </a>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="sass.html">About Us</a></li>
                    <li><a href="badges.html">Legal</a></li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<template name="searchForm">
    <form class="search-field-form">
        <div class="input-field">
            <input id="searchField" type="search" placeholder="Enter search terms" required>
            <label for="searchField"><i class="material-icons">search</i></label>
        </div>
    </form>
</template>
