<template name="navbar">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper white">
                <a href="/" class="cyan-text brand-logo center hide-on-med-and-down">daddy issues</a>

                <a href="#" class="button-collapse"><i class="cyan-text material-icons">menu</i></a>
                <ul class="left">
                    {{>searchForm}}
                </ul>
                <ul id="right-navbar" class="right hide-on-med-and-down">
                    <li><a class="cyan-text" href="/legal">legal</a></li>
                    <li><a class="cyan-text" href="/aboutus">about us</a></li>
                    <button class="cyan login-modal waves-effect waves-light btn">
                        {{#if currentUser}} my account
                        {{else}}
                            sign in
                        {{/if}}
                    </button>
                </ul>
                <ul class="right hide-on-large-only">
                    <button class="login-modal waves-effect waves-light btn">
                        {{#if currentUser}} my account
                        {{else}}
                            sign in
                        {{/if}}
                    </button>
                    <a href="#" class="left hide-on-large-only">SocialVideoLogo</a>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#filter1">Filter 1</a></li>
                    <li><a href="#filter2">Filter 2</a></li>
                    <li><a href="#filter3">Filter 3</a></li>
                    <li><a href="#filter4">Filter 4</a></li>
                    <li><a href="#filter2">Filter 2</a></li>
                    <li><a href="#filter3">Filter 3</a></li>
                    <li><a href="#filter4">Filter 4</a></li>
                    <li><a href="#filter2">Filter 2</a></li>
                    <li><a href="#filter3">Filter 3</a></li>
                    <li><a href="#filter4">Filter 4</a></li>
                    <li class="divider"></li>
                    <li><a href="/legal">Legal</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<template name="searchForm">
    <form class="search-field-form">
        <div class="input-field">
            <input id="searchField" type="search" placeholder="enter search terms" required>
            <label for="searchField"><i class="material-icons">search</i></label>
        </div>
    </form>
</template>

<template name="navbar2">
    <div class="nav-wrapper white">
        <ul class="tabs white row">
            <li id="newestvideoli" class="col s3 tab"><a id="newestvideoa" class="cyan-text active" href="#videosnewest">Newest</a></li>
            <li id="popularvideoli" class="col s3 tab"><a class="cyan-text" href="#videospopular">Popular</a></li>
            <li id="ratingvideoli" class="col s3 tab"><a class="cyan-text" href="#videosrated">Lowest Rated</a></li>
            <li id="randomvideoli" class="col s3 tab"><a class="cyan-text" href="#videosrandom">Random</a></li>
        </ul>
    </div>

    <div id="videosnewest" class="col s12">{{> videosNewest}}</div>
    <div id="videospopular" class="col s12">{{> videosPopular}}</div>
    <div id="videosrated" class="col s12">{{> videosRated}}</div>
    <div id="videosrandom" class="col s12">{{> videosRandom}}</div>

</template>
