
<template name="singleComment">
    <div class="valign-wrapper row">
        <div class="center col s2 valign">
            <a href="/users/{{commenterID}}"><img class="circle responsive-img" src="http://31.media.tumblr.com/avatar_1179596bebbb_64.png"></a>
        </div>
        <div class="col s10 valign">
            <div class="card-panel hoverable flow-text white">
                <a href="/users/{{commenterID}}"><span class="text-primary left">{{commenterUsername}}</span></a>
                {{#if equals commenterID currentUser._id}}
                    <form class="delete-comment-form">
                        <input type="hidden" id="commentid" value="{{_id}}"/>
                        <button class="right waves-effect waves-light btn-flat" type="submit">delete</button>
                    </form>
                {{/if}}
                <br>
              <blockquote>{{content}}</blockquote>
            <span style="font-size: 11px;" class="right">{{createdAt}}</span>
            </div>
        </div>
    </div>
</template>