<template name="singleVideo">
    <div class="card col s12 m8 l3">
        <div class="card-image waves-effect waves-block waves-light">
            <a href="/videos/{{_id}}">
                <video id="{{_id}}" class="" preload="metadata" height="100%" width="100%">
                    <source src="{{path}}"/>
                </video>
            </a>
        </div>
        <div class="card-content">
            <span class="grey-text text-darken-4 truncate">{{title}}</span>

            <p class="truncate">{{description}}</p>

        </div>
        <div class="card-action valign-wrapper">
            <span class="truncate left valign">by: <a href="users/{{uploaderID}}">{{uploaderUsername}}</a></span>                    <span class="badge valign right">{{comments}}<i class="new-comments-badges tiny material-icons">comment</i>{{likes}}<i class="new-comments-badges tiny material-icons">thumb_up</i></span>
        </div>
    </div>
</template>

<template name="smallVideoCard">
    <div class="row">
        <video id="{{_id}}" class="left col s4 video-js vjs-default-skin" preload="metadata" height="100%" width="50%">
            <source src="{{path}}"/>
        </video>
    <a href="/videos/{{_id}}" class="col s8 collection-item">
        <span class="title">{{title}}</span>
        <p>{{description}}<br>
        </p>
        <div class="secondary-content">
            <span class="badge valign right">{{comments}}<i class="new-comments-badges tiny material-icons">comment</i>{{likes}}<i class="new-comments-badges tiny material-icons">thumb_up</i></span><br>
        </div>
    </a>
    {{#if equals uploaderUsername currentUser.username}}
        <form class="col s12 delete-video-form">
            <input type="hidden" id="videoid" value="{{_id}}"/>
            <div class="input-field col s12 right">
                <button class="right background-primary waves-effect waves-light btn" type="submit">delete</button>
            </div>
        </form>
    {{/if}}
</div>
</template>
