<template name="submitNewVideo">
    <div class="row">
        <form class="col s12 submit-video-form">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">view_list</i>
                    <a class='dropdown-button btn' href='#' data-activates='keywordsDropdown'>Select Keywords</a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">speaker_notes</i>
                    <input id="video_title" type="text" class="validate" required>
                    <label for="video_title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">speaker_notes</i>
                    <input id="video_description" type="text" class="validate" required>
                    <label for="video_description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="file-field input-field">
                    <i class="material-icons prefix">movie</i>
                    <input type="file" id="file_bag" required>
                    <label for="file_bag">Choose file...</label>
                    {{#each files}}
                        <p>{{percent_uploaded}}</p>
                    {{/each}}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <button class="upload" type="submit">SUBMIT</button>
                </div>
            </div>

            <ul id='keywordsDropdown' class='dropdown-content'>

                <p>Please choose at least one keyword from the following list:</p>
                <input type="checkbox" id="genre1"/>
                <label for="genre1">Genre 1</label>
                <br>
                <input type="checkbox" id="genre2"/>
                <label for="genre2">Genre 2</label>
                <br>
                <input type="checkbox" id="genre3"/>
                <label for="genre3">Genre 3 is long title</label>
                <br>
                <input type="checkbox" id="genre4"/>
                <label for="genre4">Genre 4</label>
                <br>
                <input type="checkbox" id="genre5"/>
                <label for="genre5">Genre 5</label>
                <br>
                <br>
            </ul>
        </form>
    </div>
</template>
