<template name="submitNewVideo">
    <div class="row">
        <form class="col s12 submit-video-form">

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">speaker_notes</i>
                    <input id="video_title" type="text" length="35" class="validate" required>
                    <label for="video_title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">speaker_notes</i>
                    <input id="video_description" type="text" length="145" class="validate" required>
                    <label for="video_description">Description</label>
                </div>
            </div>

            <div class="row">
                <p>Pick a couple keywords if you like:</p>
                <span class="col s3">
                    <input name="straight" type="checkbox" id="keyword1"/>
                    <label for="keyword1">Straight</label>
                </span>
                    <span class="col s3">
                    <input name="gay" type="checkbox" id="keyword2"/>
                    <label for="keyword2">Gay</label>
                </span>
                    <span class="col s3">
                    <input name="lesbian" type="checkbox" id="keyword3"/>
                    <label for="keyword3">Lesbian</label>
                </span>
                    <span class="col s3">
                    <input name="teen" type="checkbox" id="keyword4"/>
                    <label for="keyword4">Teen</label>
                </span>
                    <span class="col s3">
                    <input name="amateur" type="checkbox" id="keyword5"/>
                    <label for="keyword5">Amateur</label>
                </span>
                    <span class="col s3">
                    <input name="reality" type="checkbox" id="keyword6"/>
                    <label for="keyword6">Reality</label>
                </span>
                    <span class="col s3">
                    <input name="group" type="checkbox" id="keyword7"/>
                    <label for="keyword7">Group</label>
                </span>
                <span class="col s3">
                    <input name="mature" type="checkbox" id="keyword8"/>
                    <label for="keyword8">Mature</label>
                </span>
            </div>


            <div class="row">
                <div class="col s6 file-field input-field cyan btn waves-effect waves-light">
                    <input class="file-path validate" type="file" id="file_bucket" required>
                    <span>Choose File</span>
                </div>
                <div class="input-field col s3 offset-s3">
                    <button class="cyan waves-effect waves-light btn" type="submit">SUBMIT</button>
                </div>
            </div>

        </form>
    </div>
</template>
