<template name="userLanding">
    <div class="flow-text">
        <h4>username: {{username}}</h4>
        <ul class="collection with-header">
            <li class="collection-header">{{username}}'s uploads:</li>
            <li class="collection-item">
                {{#each myVideos}}
                    {{> singleVideo}}
                {{/each}}</li>
            <li class="collection-item">{{username}}'s favorites: in progress</li>
            <li class="collection-item">groups they belong to?</li>
        </ul>

        <br>
        <p>Send this user a message?</p>
    </div>
</template>

<!--TODO: display user profile comments-->