<template name="videosNewest">
    <p>This is the single newest video</p>
    {{#with newestVideo}}
        {{> singleVideo}}
    {{/with}}
</template>

<template name="videosPopular">
    <p>These are the videos sorted by popularity</p>
    <div class="videoContainer row">
        {{#each popularVideos}}
            {{> singleVideo}}
        {{/each}}
    </div>
</template>

<template name="videosRated">
    <p>These are the videos sorted by rating</p>
    <div class="videoContainer row">
        {{#each ratedVideos}}
            {{> singleVideo}}
        {{/each}}
    </div>
</template>

<template name="videosRandom">
    <p>This is a single random video</p>
    {{#each randomVideo}}
        {{> singleVideo}}
    {{/each}}
</template>

<template name="videoLanding">
    <p>{{title}}</p>
    <video id="{{_id}}" class="video-js vjs-default-skin" controls preload="metadata" height="100%" width="100%"> <source src="{{path}}"/></video>

    <p></p>
    <p></p>

    {{#if currentUser}}
    <button class="right createComment cyan waves-effect waves-light btn" type="submit">New Comment</button>
        {{/if}}
<br><br><br>
    <div class="commentContainer row">
    {{#each allComments}}
        {{> singleComment }}
    {{/each}}
    </div>

    {{>newCommentModal}}
</template>

