<template name="videosNewest">
    {{#with newestVideo}}
        {{> singleVideo}}
    {{/with}}
</template>

<template name="videosPopular">
    <div class="videoContainer row">
        {{#each popularVideos}}
            {{> singleVideo}}
        {{/each}}
    </div>
</template>

<template name="videosRated">
    <div class="videoContainer row">
        {{#each ratedVideos}}
            {{> singleVideo}}
        {{/each}}
    </div>
</template>

<template name="videosRandom">
    {{#each randomVideo}}
        {{> singleVideo}}
    {{/each}}
</template>

<template name="videoLanding">

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                    <video id="{{_id}}" class="video-js vjs-default-skin" controls preload="metadata" height="100%" width="100%"> <source src="{{path}}"/></video>
                </div>
                <div class="card-content">
                    <p>{{description}}</p>
                </div>
                <div class="card-action valign-wrapper">
                    <span class="badge valign">{{comments}}<i class="tiny material-icons right">comment</i><br>{{likes}}<i class="tiny material-icons right">thumb_up</i></span>

                    <span class="left valign">by: <a href="users/{{username}}">{{username}}</a></span>
                </div>
            </div>
        </div>
    </div>

    <p></p>
    <p></p>

    {{#if currentUser}}
    <button class="right createComment cyan waves-effect waves-light btn" type="submit">New Comment</button>
        {{/if}}
<br><br><br>
    <div class="commentContainer row">
    {{#each allComments}}
        {{> singleComment }}
    {{/each}}
    </div>

    {{>newCommentModal}}
</template>

